/*Determinem colors i amplada pel footer. Fem flex perque s'aliniin els elements com desitgem*/
footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        img {
            width: fit-content;
            height: fit-content;
            margin: 5%;
        }

    }
    p {
        margin-right: 2%;
    }
}
