
$color: darkred;
$colorlletra: white;
$colorhover: goldenrod;
$decoratext: none;
$fontweight: bold;

nav {
    background-color: $color;
    height: 60px;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 999;
    a{
        margin: 20px;
        margin-right: 30px;
        color: white;
        font-weight: $fontweight;
        text-decoration: $decoratext;
        float: right;
        &:hover{
            text-decoration: underline;
            color: $colorhover;
        }
    }
}
