/* Establim tipus de font i tamany per a tot el lloc web */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*Color de menú principal, amb posició sticky i z-index elevat per a que ens segueixi quan fem scroll */
nav {
    background-color: darkred;
    height: 60px;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 999;
}

/*Determinem tamany, color i posició de text al menu*/
nav>a {
    margin: 20px;
    margin-right: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    float: right;
}

/*Canvi de color i subratllat de text quan es fa hover a menu*/
a:hover {
    text-decoration: underline;
    color: goldenrod;
}

/*Determinació de color de titol i posició del div*/
header {
    position: relative;
    color: white;
}

/*Fem que la imatge de fons ocupi tota l'amplada del lloc web*/
header>img {
    width: 100%;
}

/*Determinem posició i tamany del text a sobre de la imatge del header */
#titol {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    font-size: 1.5rem;
}
/*Fem que el text del header es fiqui quasi en negreta*/
#titol>h2 {
    font-weight: 400;
}

/*Id del span del text del header, que volem que estigui en negreta*/
#negreta {

    font-weight: bold;
}

/*Determinem tamany i marge del div que conté tot menys el header i el footer*/
#contenidor {
    width: 80%;
    margin-left: 10%;
}

/*Posem marge superior i inferior als subtitols del contenidor*/
#contenidor>h2 {
    margin-top: 4%;
    margin-bottom: 2%;
}
/*Determinació d'amplada i marge del text del sobre nosaltres*/
.text {
    width: 100%;
    display: inline-block;
    margin-bottom: 2%;
}
/*Imatges del sobre nosaltres amb cantons rodons*/
.text>img {
    border-radius: 5%;
}
/*Determinem posició, amplada i marge de la foto del primer paragraf*/
#img-float-left {
    float: left;
    width: 20%;
    margin-right: 2%;
}

/*Determinem posició, amplada i marge de la foto del primer paragraf*/
#img-float-right {
    float: right;
    width: 20%;
    margin: 2%;
}

/*Determinacio de mesures de la taula de menus*/
.grid-container {
    display: grid;
    /*Hi ha tres columnes, la primera més petita, i les altres dos iguals*/
    grid-template-columns: 10% 45% 45%;
    /*Hi ha cinc files, la primera més prima, la 2a i 4a més grans, i la 3a i 5a encara més*/
    grid-template-rows: 1fr 2fr 3fr 2fr 3fr;
    gap: 0px 0px;
    /*Determinació de quins espais ocupa cada div del grid*/
    grid-template-areas:
        "menusup menusup menusup"
        "menu1 contingut contingut"
        "menu1 fotopasta fotostarter"
        "menu2 contingut2 contingut2"
        "menu2 fotomeat fotofish";
}

/*Determinacio del color de fons, tet, i marges de la part "menu" del grid*/
#menusup {
    /*Amb grid-area correlacionem aquest id amb el que s'ha posat a grid-template-areas. Sera igual en els ids posteriors*/
    grid-area: menusup;
    text-align: center;
    margin-bottom: 2%;
    background-color: darkblue;
    color: white;
}

/*Determinem marge, negreta i posició del text (centrat) de la cel·la del menu 1*/
#menu1 {
    grid-area: menu1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 3%;
    font-weight: bold;
}
/*A partir d'aqui es designen paddings de diferents divs*/

#contingut {
    grid-area: contingut;
    padding: 1%;
}

#fotopasta {
    grid-area: fotopasta;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}
/*Definicio del text amb fons negre translucid a sobre d'imatge. Es fa el mateix amb la resta d'imatges*/
#fotopasta>p {
    background-color: black;
    opacity: 50%;
    position: absolute;
    bottom: -8px;
    width: 96%;
    color: white;
    text-align: center;
}

/*Es fica 100 % de width d'imatge dins el div per a que no sobresurti l'amplada d'aquest*/
#fotopasta>img {
    width: 100%;
    
}

#fotostarter {
    grid-area: fotostarter;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}

#fotostarter>p{
    background-color: black;
    opacity: 50%;
    position: absolute;
    bottom: -8px;
    width: 96%;
    color: white;
    text-align: center;
}

#fotostarter>img {
    width: 100%;
}

#menu2 {
    grid-area: menu2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 3%;
    font-weight: bold;
}

#contingut2 {
    grid-area: contingut2;
    padding: 1%;
}

#fotomeat {
    grid-area: fotomeat;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}

#fotomeat>p{
    background-color: black;
    opacity: 50%;
    position: absolute;
    bottom: -8px;
    width: 96%;
    color: white;
    text-align: center;
}

#fotomeat>img {
    width: 100%;
}

#fotofish {
    grid-area: fotofish;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}

#fotofish>p{
    background-color: black;
    opacity: 50%;
    position: absolute;
    bottom: -8px;
    width: 96%;
    color: white;
    text-align: center;
}

#fotofish>img {
    width: 100%;
}
/*Determinem que aquesta classe té flex, i flex-wrap fa que els seus fills es puguin colocar en diverses linies*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

/*Determinacio d'amplada, borders, i margins de cadascun dels divs del flex-container*/
.flex-container>div {
    background-color: white;
    width: 24%;
    border: 3px solid;
    border-color: white;
    margin-bottom: 1%;
    margin-top: 1%;
}

.flex-container>div>img {
    width: 100%;
}

/*Classe que fa que la imatge es vegi fosca per defecte (les de les vores)*/
.fosc {
    filter: brightness(50%);
}

/*Quan fem hover a una imatge, sortira un border gris al voltant d'aquesta...*/
.flex-container>div:hover {
    border: 3px solid gray;
}
/*... i es farà més fosca*/
.flex-container>div>img:hover {
    filter: brightness(40%);
}

/*Ens serveix per a que els elements saltin de linia quan l'amplada del navegador sigui menor a 780px*/
@media (max-width: 780px) {
    .flex-container>div {
        /*Amb això, cada div ocuparà mig container, per tant, passaran de ser 4 per linia a ser 2*/
        width: 48%;
    }
}

/*Determinem colors i amplada pel footer. Fem flex perque s'aliniin els elements com desitgem*/
footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer>div {
    display: flex;
}


footer>div>img {
    width: fit-content;
    height: fit-content;
    margin: 5%;
}

footer>p {
    margin-right: 2%;
}

/*SEGONA PART DE LA PRÀCTICA*/

@media only screen and (max-width: 768px){
    nav{
        background-color: white;
    }

    nav > a{
        float: left;
        margin-left: 20px;
        color: black;
    }

    #img-float-left{
        width: 100%;
    }

    #img-float-right{
        width: 100%;
    }

    .grid-container {
        /*Hi ha cinc files, la primera més prima, la 2a i 4a més grans, i la 3a i 5a encara més*/
        grid-template-rows: 1fr 2fr 3fr 3fr 2fr 3fr 3fr;
        /*Determinació de quins espais ocupa cada div del grid*/
        grid-template-areas:
            "menusup menusup menusup"
            "menu1 contingut contingut"
            "menu1 fotopasta fotopasta"
            "menu1 fotostarter fotostarter"
            "menu2 contingut2 contingut2"
            "menu2 fotomeat fotomeat"
            "menu2 fotofish fotofish";
    }

    .flex-container>div {
        width: 48%;
    }

}

@media only screen and (max-width: 576px){
    nav{
        background-color: white;
    }

    nav > a{
        float: left;
        margin-left: 20px;
        color: black;
    }

    .text>img {
        border-radius: 5%;
        width: 100%;
    }


    .contenidor > h2 {
        text-align: center;
    }

    .grid-container {
        /*Hi ha cinc files, la primera més prima, la 2a i 4a més grans, i la 3a i 5a encara més*/
        grid-template-rows: 1fr 1fr 2fr 3fr 3fr 1fr 2fr 3fr 3fr;
        /*Determinació de quins espais ocupa cada div del grid*/
        grid-template-areas:
            "menusup menusup menusup"
            "menu1 menu1 menu1"
            "contingut contingut contingut"
            "fotopasta fotopasta fotopasta"
            "fotostarter fotostarter fotostarter"
            "menu2 menu2 menu2"
            "contingut2 contingut2 contingut2"
            "fotomeat fotomeat fotomeat"
            "fotofish fotofish fotofish";
    }

    .flex-container>div {
        width: 96%;
    }
}
